.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

 footer{
   background-color: #555;
   height:50px;
   width:100%;
 }

 .submissions .col-4 a{
    display: block;
    padding: 15px;
    border-radius: 50px;
    /* border: 1px solid rgba(85, 85, 85, 0.35); */
    margin-top: 20px;
    /* box-shadow: 2px 3px 10px rgba(136, 136, 136, 0.49);
    transition: opacity 0.3s ease-in-out; */
}

.submissions .col-4 a{
    box-shadow: 0 1px 5px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    text-transform: none;
    text-decoration: none;
    color:#616161;
}
.submissions .col-4 a:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    color:#616161;
}

.page-header{
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.page-header-block{
    margin-top: 50px;
}

.content-card{
    padding:30px;
    background-color: #ffffff;
    box-shadow: 0 4px 38px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    margin-bottom: 25px;
}

.card-title{
    font-weight: 500;
    font-size: 20px;
    color: rgba(125, 125, 125, 0.82);
}

.card-desc{
    font-size: 15px;
    color: rgba(125, 125, 125, 0.82);
    font-weight:500;
}

.content-card span{
    color:rgba(125, 125, 125, 0.82);
}

.action-btn a{
    color:#0B86D8;
    font-weight:400;
}
.action-btn a:hover{
    color:rgba(11, 134, 216, 0.8) !important;
    text-transform: none;
    text-decoration: none;
}